/**
 * @file
 * Styling for page.tpl.php
 */

@import "init";

body {
  background: $black;
  @include background(radial-gradient($darker-black, $black));

}

::selection {
  background: $lighter-blue;
  color: $white;
}

#top {
  a {
    color: $grey;
  }
  ul {
    margin: 0;
  }
}

#navigation {
  .table {
    display: table;
    width: 100%;
    .row {
      display: table-row;
    }
  }

  #logo {
    display: table-cell;
    vertical-align: bottom;
  }

  #main-menu {
    display: table-cell;
    width: 100%;
    text-align: right;
    vertical-align: bottom;
  }
}

h1#site-name a, h2#site-slogan {
  color: $blue;
  text-align: right;
}

h1#site-name {
  font-size: 2.5em;
  margin-bottom: 0;
  a {
    &:hover {
      color: $blue;
      opacity: .7;
      text-shadow: none;
    }
  }
}

h2#site-slogan {
  font-size: 1.1em;
  font-weight: normal;
  margin-top: 0;
}

#logo {
  &:hover {
    opacity: .5;
  }
  img {
    width: 10em;
    height: auto;
    max-width: none;
    margin-bottom: 2em;
    @media (max-width: 60em) {
      margin-bottom: 1em;
    }
    @media (max-width: 53em) {
      margin-bottom: 0;
    }
    @media (max-width: 24em) {
      width: 9em;
    }
    @media (max-width: 22em) {
      width: 8em;
    }
    @media (max-width: 20em) {
      width: 7em;
    }

  }
  @media (max-width: 16em) {
    img {
      display: none;
    }
  }
}

#main {
  background: $white;
}

#content {
  padding: 10px;
  .print-link {
    display: none;
  }
}

.feed-icon {
  background-image: inline-image("feed-blue.png");
  clear: both;
  display: block;
  height: 32px;
  width: 32px;
  img {
    display: none;
  }
}
