/**
 * @file
 * Styling and module support for core module "Book (book)".
 */

@import "init";

.book-navigation {
  a {
    text-decoration: none;
    font-size: 0.8em;
  }

  .menu {
    border-top: 1px solid $grey;
    padding: 1em 0 0 3em; /* LTR */
  }

  .page-links {
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    text-align: center;
    padding: 0.5em;
  }

  .page-previous {
    text-align: left;
    width: 40%;
    display: block;
    float: left; /* LTR */
  }

  .page-up {
    margin: 0 5%;
    width: 10%;
    display: block;
    float: left; /* LTR */
  }

  .page-next {
    text-align: right;
    width: 40%;
    display: block;
    float: right;
  }
}

.book_add_child {
  font-size: 0.9em;
}

#book-outline {
  min-width: 56em;
}

.book-outline-form .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

html.js #edit-book-pick-book {
  display: none;
}

.form-item-book-bid .description {
  clear: both;
}

#book-admin-edit {
  select {
    margin-right: 24px;
  }

  select.progress-disabled {
    margin-right: 0;
  }

  tr.ajax-new-content {
    background-color: #ffd;
  }

  .form-item {
    float: left;
  }
}
