/**
 * @file
 * Styling and module support for core module "Search (search)".
 */

@import "init";

#block-search-form {
  position: absolute;
}

#search-block-form {
  margin: 1em 0 3em 0;

  input[type="search"] {
    display: none;
    width: 10em;
    font-size: 0.8em;
    height: 30px;
    color: $grey;
  }

  input[type="submit"] {
    display: none;
    color: $white;
    font-size: 1em;
    height: 30px;
  }
}

.show-search-form {
  input[type="search"] {
    display: block;
  }

  input[type="submit"] {
    display: block;
  }
}

/* node/search */

#search-form {
  input#edit-submit {
    margin: 0;
  }
}
